//- Aspect Ratio
mixin ratio(src, alt, ratioClass)
	.ratio-holder
		div(class="ratio " + ratioClass)
		.ratio-content
			img(src=src, alt=alt, draggable="false")

//- Section Header
mixin sectionHeader(small, text, span)
	header.section-title
		h2.section-header
			span.small= small
			span.playfair-font= text
			if span
				span.playfair-font= span

//- Author
mixin author(name, jop)
	p.author.custom-paragraph
		span.name= name
		span.jop  - #{jop}

//- Special Menu Card
mixin specialMenuCard(img, price, title, desc)
	.card.clickable-item.slider-item
		a(href="#" class="clickable-anchor")

		.card-image
			+ratio(img, title, "menu-ratio")

			span.price $ #{price}

		.card-content
			h4.card-title= title
			p.card-desc.custom-paragraph= desc